<div class="col-12 my-3">
    <form action="">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Un restricted -No Treat
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option2" >
            <label class="form-check-label" for="exampleRadios1">
            Restricted
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option3" >
            <label class="form-check-label" for="exampleRadios1">
              Political
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option4" >
            <label class="form-check-label" for="exampleRadios1">
              Legal
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option1" >
            <label class="form-check-label" for="exampleRadios1">
              Lorem ipsum adipisicing elit
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option1" >
            <label class="form-check-label" for="exampleRadios1">
                dolor sit amet consectetur
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="classification"  value="option1" >
            <label class="form-check-label" for="exampleRadios1">
                Nemo beatae necessitatibus
            </label>
          </div>
    </form>
</div>
