<div class="col-12 my-3">
    <form action="">
        <mat-radio-group class="d-flex flex-column">
            <mat-radio-button value="option1">
                Un restricted -No Treat
            </mat-radio-button>
            <mat-radio-button value="option2">
                Restricted
            </mat-radio-button>
            <mat-radio-button value="option3">
                Political
            </mat-radio-button>
            <mat-radio-button value="option4">
                Legal
            </mat-radio-button>
            <mat-radio-button value="option5">
                Lorem ipsum adipisicing elit
            </mat-radio-button>
            <mat-radio-button value="option6">
                dolor sit amet consectetur
            </mat-radio-button>
            <mat-radio-button value="option7">
                Nemo beatae necessitatibus
            </mat-radio-button>
            <mat-radio-button value="option8">
                Un restricted
            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>