<div class="d-flex flex-column justify-content-between">
    <div class="col-12 my-3 tabGroupCnr">
        <app-tabgroup-button [tabs]="tabList" (tabOnChange)="getTabIndexMain($event)"></app-tabgroup-button>
    </div>
    <div class="col-12 my-3">
        <div class="table-responsive" #table >
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="Logged">
                    <th mat-header-cell *matHeaderCellDef> Logged </th>
                    <td mat-cell *matCellDef="let element"> {{element.logged | date}} </td>
                </ng-container>
                <ng-container matColumnDef="User Name">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="From Status">
                    <th mat-header-cell *matHeaderCellDef> From Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.from}} </td>
                </ng-container>
                <ng-container matColumnDef="To Status">
                    <th mat-header-cell *matHeaderCellDef> To Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.to}} </td>
                </ng-container>
                <ng-container matColumnDef="Qced">
                    <th mat-header-cell *matHeaderCellDef> Qced </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-radio-button value="option1">
                            Un restricted -No Treat
                        </mat-radio-button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Resolution">
                    <th mat-header-cell *matHeaderCellDef> Resolution </th>
                    <td mat-cell *matCellDef="let element"> {{element.resolution}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>