<div mat-dialog-title class="position-relative">
    <button class="popupClose close" [mat-dialog-close]="true">
        <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Media">
            <app-media-video></app-media-video>
        </mat-tab>
        <mat-tab label="Media Details">
            <div class="d-flex h-100 flex-column justify-content-between">
                
                    <app-media-detail></app-media-detail>
            
            </div>
        </mat-tab>
        <mat-tab label="Classification">
            <div class="d-flex h-100 flex-column justify-content-between">
                <app-classification></app-classification>
            </div>
        </mat-tab>
        <mat-tab label="Media Encoder">
            <app-media-encoder></app-media-encoder>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="col-12">
        <app-media-buttons></app-media-buttons>
    </div>
    <div class="col-12 text-right">
        <button class="btn btn-danger"  mat-button [mat-dialog-close]="true">Close</button>
    </div>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>