<div class="buttonGroup my-2">
    <button><span class="icon"><img src="assets/img/video-player.svg" alt=""></span> Upload Source
        Media</button>
    <button><span class="icon"><img src="assets/img/like.svg" alt=""></span>Approve Media</button>
    <button><span class="icon"><img src="assets/img/dislike.svg" alt=""></span>Reject Media</button>
    <button><span class="icon"><img src="assets/img/wi-fi.svg" alt=""></span>Purge Media</button>
    <button><span class="icon"><img src="assets/img/diskette.svg" alt=""></span>Save Media</button>
    <button><span class="icon"><img src="assets/img/trash.svg" alt=""></span>Cancel</button>
</div>