.tabGroup{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.tabGroup li{
    padding: .6em;
    border-radius: .35rem;
    transition: .5s ease;
    position: relative;
    top: 2px;
    cursor: pointer;
    color: #00aeef;
    font-size: .9em;
}
.tabGroup li:not(:first-child){
    margin-left: 1em;
}
.tabGroup li.active{
    background: #00aeef;
    color: #fff;;
}